/**
 * Basic typography style for copy text
 */

h2 {
    font-size: $fs-h2;
    //font-size: clamp($fs-h2, 2.3rem + 1vw, 3.7rem);
    font-weight: 700;
    line-height: 0.8;
    letter-spacing: -1.5px;
    margin: 1.4rem 0;
    @media(min-width: 48rem) {
        font-size: 3.7rem;
        letter-spacing: -3.5px;
        margin: 1.6rem 0;
    }
}

p {
    font-size: $para;
    line-height: 1.4;
    color: $dark-grayish-magenta;
}

span {
    font-size: 17px;
    font-weight: 700;
}

h3 {
    font-size: 17px;
}

small {
    font-size: 11px;
}
