// -----------------------------------------------------------------------------
// This file contains all styles related to the layout of the page.
// -----------------------------------------------------------------------------

main {
    width: min(100%, 72rem);
}

section.wrapper {
    display: grid;
    grid-template-areas:
        "intro"
        "ratings"
        "testimonials";

    padding: 2rem 1.3rem 0;
    row-gap: 2.6rem;
    column-gap: 1.5rem;

    @media(min-width: 48rem) {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "intro ratings"
            "testimonials testimonials";

        row-gap: 4.4rem;
    }
}

.wrapper--intro {
    padding: 2rem 4px 0;
    @media(min-width: 48rem) {
        max-width: 48ch;
        padding: unset;
    }
}

footer {
    padding: 1rem 0 0.5rem;
    text-align: center;
}