.wrapper--testimonials {
    grid-area: testimonials;
    display: grid;
    gap: 1rem;


    @media(min-width: 48rem) {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    @media(min-width: 67rem) {
        align-items: center;
        height: 16.5rem;
    }
}

.testimonial {
    padding: 2.5rem 2.5rem 0 2rem;
    color: $light-grayish-magenta;
    background-color: $very-dark-magenta;
    border-radius: 8px;

    @media(min-width: 48rem) {
        padding: 2.5rem 2rem 0.5rem;

        @media(min-width: 67rem) {
            &:first-child {
                align-self: start;
            }

            &:last-child {
                align-self: end;
            }
        }

    }
}

figure {
    display: grid;
    grid-template-columns: 40px 1fr;
    text-align: left;
    gap: 1.5rem;
}

figcaption span {
    display: block;
    font-weight: 400;
    line-height: 0.5;
    color: $soft-pink;
}

figure img {
    border-radius: 50%;
}

blockquote {
    font-size: 1rem;
    padding: 1.7rem 0;
    text-align: left;
    line-height: 1.4;
    // font-weight: 700;
    letter-spacing: 0.04px;
    word-spacing: 1px;
}